.idea
sample.html
caa_search.jsonl
caa_site_detail.jsonl
mlit_child.jsonl
mlit_parent.jsonl
all_data.txt
build
dbs
project.egg-info
tutorial/*/__pycache__/*.pyc
tutorial/__pycache__/*.pyc
tutorial/spiders/__pycache__/caa_spider.cpython-310.pyc